<div class="container">
  <h1>Welcome to Flashcards!</h1>
  <h4>Either login or register a new user</h4><br>

  <form id="login" method="post" action"/login">
    email: <input type="text" name="email"><br><br>
    password: <input type="password" name="password"><br><br>
    <input type="submit" value="Log in!">
  </form>

  <br><br>
  <a href='/signup'>Register new user</a>

</div>
