<div class="container">
  <h1>Welcome to Flashcards!</h1>
  <h4>Either login or register</h4><br>

  <form id="login" method="post" action"/login">
    Email: <br><input type="text" name="email" placeholder="Insert Email Here"><br><br>
    Password: <br><input type="password" name="password"placeholder="Insert Password Here"><br><br>
    <input type="submit" value="Log in!">
  </form>

  <br><br>
  <a href='/signup'>Register new user</a>

</div>
