<div class='container'>

  <h2><%= @deck.category %></h2>
  <% counter = 1 %>

  <% until counter == 2 %> 
    <% if counter == 1 %>
      <h3>Get playing!</h3>
    <% else %>

    <% end %>
  
    <form id="question" method="post" action="/play/question_id">
      <h3>What is the capital of <%= @deck.cards.find(counter).question %>?</h3>
      <br><br> <!-- replace with dynamic data -->
     <!-- replace with dynamic data -->
      <input type="text" name="user_answer"><br>
      <input type="submit" value="Submit Answer">
    </form>
    <% counter += 1 %>
     
    <br><br>
  <% end %>
</div>
