<div class='container'>

  <h2>States and Capitals</h2> <!-- replace with dynamic data -->

  <% counter = 2 %> <!-- insert coutner and logic for iterating through questions-->
  <% if counter == 1 %>
    <h3>Get playing!</h3>
  <% else %>
    <h3><%= @correctness.upcase + "!" %></h3>
    <h4>The capital of California is Sacramento</h4>  <!-- replace with dynamic data -->
  <% end %>
  <br><br>
  <form id="question" method="post" action="/play">
    <%= "Question #1" %><br><br> <!-- replace with dynamic data -->
    <%= "What is the capital of Virginia?" %> <!-- replace with dynamic data -->
    <input type="text" name="user_answer"><br>
    <input type="submit" value="Submit Answer">
</form>

</div>
