<div class='container'>
  <h1>Welcome <%= @name %>!</h1>

    <form id="start_game" method="get" action="/play">
      Choose deck:
      <input type="radio" name="category" value=<%= "Capitals" #Deck.category %>
      <input>
      <input >
    </form>

</div>
