<div class='container'>

  <% if @name == nil %>
    <h2>You've not played any games, get playing!</h2> %>
  <% else %>
    <h2><%= @name %>, you are doing great!</h2>
    <h3>Here are your results</h3>
  <% end %>
  <br><br>

  <table>
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Right Answers</th>
      <th>Score</th>
    </tr>

    <tr>
      <td>11 Nov 2013</td> <!-- replace with dynamic data -->
      <td>States and Capitals</td> <!-- replace with dynamic data -->
      <td>1 out of 50</td> <!-- replace with dynamic data -->
      <td>2%</td>
    </tr>
  </table>

  <br><br><br>
  <p>
    <a href='/'>Return to homepage</a>
     or 
    <a href='/profile'>Play again!</a>

  </p>

</div>
