<div class="container">
  <h1> </h1>
  <h4>Please sign your details below.</h4>

  <form id="signup" method="post" action="/create">
    Name: <br><input type="text" name="name" placeholder="Insert Name Here"><br><br>
    Email: <br><input type="text" name="email" placeholder="Insert Email Here"><br><br>
    Password: <br><input type="password" name="password" placeholder="Insert Password Here"><br><br><br>
    <input type="submit" value="Sign Up!">
  </form>

  <br><br>
  <a href='/'>Return to home</a>

</div>
